{% extends 'base.html' %}

{% block content %}
    {% for obj in authors %}
    <div class="row">
        {% if obj.github_data %}
            <a href="{{ obj.github_data.html_url }}" class="thumbnail pull-left">
                <img src="{{ obj.github_data.avatar_url }}" style="width: 80px; height: 80px;">
            </a>
            <a href="{{ obj.github_data.html_url }}">{{ obj.name }}</a>
        {% else %}
            <h5>{{ obj.name }}</h5>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}