{% extends 'base.html' %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="row">
        <div class="span5">Всего:</div>
        <div class="span7">
            <div class="progress {% if total != 100 %}progress-danger{% endif %} progress-striped">
                <div class="bar" style="width: {{ total }}%;">{{ total }}%</div>
            </div>
        </div>
    </div>
    <br/>
    {% for name, perc in statistic|sort %}
        <div class="row">
            {% if name %}
            <div class="span5"><a href=".{{ name|replace('.po', '.html') }}">{{ name }}</a></div>
            <div class="span7">
                <div class="progress {% if perc != 100 %}progress-danger{% endif %}">
                    <div class="bar" style="width: {{ perc }}%;">{{ perc }}%</div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
